<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="TestRepository" connectionString="Password=2223;Persist Security Info=True;User ID=sa;Initial Catalog=PruebaRepository;Data Source=SIRCODE\SIRFREEDOM" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>